VITE_API_KEY="YOUR API KEY";
VITE_AUTH_DOMAIN="YOUR AUTH DOMAIN";
VITE_PROJECT_ID="YOUR PROJECT ID";
VITE_STORAGE_BUCKET="YOUR STORAGE BUCKER";
VITE_MESSAGING_SENDER="YOUR MESSAGING SENDER ID";
VITE_APP_ID="YOUR APP ID";